<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Selamat Datang Di halaman admin</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Halamam Admin</h2>
    	<navbar>
    		<li>
    			<a class="btn btn-danger" href="http://localhost:4000/logout">Logout</a>
    		</li>
    	</navbar>
    </br>
        <a class="btn btn-success" href="http://localhost:4000/tambah">Tambah</a>

    </div>
</body>
</html>
